<h1> CSMODEL Project 1 </h1>
<h2> Group 23</h2>
Members:
Lima, Alfonso Gabriel V.
Olalia, Pamela Kirsten G.
Ortega, A

## Netflix Original Films & IMDb Scores
The dataset of the notebook is called *Netflix Original Films & IMDB Scores*. It contains all of Netflix's produced films as of June 1, 2021. It contains basic information regarding each film such as the title, genre, language, runtime, and IMDb Score. 

The data in this dataset was acquired via webscraping of a [Wikipedia page](https://en.wikipedia.org/wiki/Lists_of_Netflix_original_films) by Nakul Lakhotia about Netflix's produced films over the years. The data was then integrated with its corresponding IMDb score manually by the owner of the dataset. The IMDb scores were aquired in their official website: [imdb.com](https://www.imdb.com/), which is the premiere website for movie reviews and critique.

## pandas, matplotlib and chardet
**pandas** is a software library for Python that is designed for data manipulation and data analysis. **matplotlib** is a software libary for data visualization, which allows us to easily render various types of graphs. We will be using these two libraries in this Notebook. **chardet** is a software library for Python that serves as the Universal Character Encoding Detector.

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

## Reading the dataset

In [10]:
with open('NetflixOriginals.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

In [11]:
netflix_df = pd.read_csv('NetflixOriginals.csv', encoding=result['encoding'])

## Structure of the Dataset

In [12]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

There are a total of 584 observations in the dataset. Each observation contains 6 variables to describe each observation. These are the records and details for every film by Netflix

In [13]:
netflix_df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

## Variables in the Dataset

The following are detailed descriptions of each column in the dataset: <br>
> 1. ***Title*** - The name of the film. This is the unique value of each observation in the dataset <br>
2. ***Genre*** - The type of film based on its narrative elements. This describes what kind of plot the film portrays. Some observations may have a mix of 2 or more genres. <br>
3. ***Premiere*** - The date when the film was released to the public.<br>
4. ***Runtime*** - The overall length of the film in minutes.<br>
5. ***IMDB Score*** - The score of the film on the IMDB website. The scores are taken from members of the IMDB community.
6. ***Language*** - The languages used in the film. Some films may have a mix of 2 or more languages

## Data Cleaning

#### Missing Values
The following code returns the number of null values which represents a missing value for each variable in the dataset.

In [14]:
netflix_df.isnull().sum()

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

As seen above, there are no observations that contains a null value in any variable.

#### Data Type
The following code returns the data type of each variable in the dataset.

In [15]:
netflix_df.dtypes

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

Almost all of the variables have the appropriate data type for their values except for the *Premiere*. Since the *Premiere* column contains the date of the premiere of the film, the appropriate data type for this is the **Datetime** data type not an object/string.

The following code will convert the data type to **Datetime**.

In [16]:
netflix_df["Premiere"] = pd.to_datetime(netflix_df['Premiere'])
netflix_df.dtypes

Title                 object
Genre                 object
Premiere      datetime64[ns]
Runtime                int64
IMDB Score           float64
Language              object
dtype: object

Now all of the variables in the dataset have the appropriate data type for their values.

#### Duplicate  Values
The values under the *Title* column are the only distinct values for each observation. This is because this is the only attribute that does not describe the observation but names it. So, to check if there are any duplicate values in the dataset, we must count how many unique values are under the *Title* column. If they are equal to the number of observations, then there are no duplicate observations.

In [17]:
netflix_df['Title'].nunique()

584

The code above returns the number of unique values under the *Title* column. It is equal to the number of observations, therefore, there are **no duplicate values in the dataset**

#### Data Format
Now we want to check if the data under the different columns are consistent with each other. The following blocks of code will display this.

In [18]:
netflix_df['Title'].unique()

array(['Enter the Anime', 'Dark Forces', 'The App', 'The Open House',
       'Kaali Khuhi', 'Drive', 'Leyla Everlasting',
       'The Last Days of American Crime', 'Paradox', 'Sardar Ka Grandson',
       'Searching for Sheela', 'The Call', 'Whipped',
       'All Because of You', 'Mercy', 'After the Raid', 'Ghost Stories',
       'The Last Thing He Wanted', 'What Happened to Mr. Cha?',
       'Death Note', "Hello Privilege. It's Me, Chelsea",
       'Secret Obsession', 'Sextuplets', 'The Girl on the Train',
       'Thunder Force', 'Fatal Affair', 'Just Say Yes',
       'Seriously Single', 'The Misadventures of Hedi and Cokeman',
       '5 Star Christmas', 'After Maria',
       'I Am the Pretty Thing That Lives in the House', 'Paris Is Us',
       'Porta dos Fundos: The First Temptation of Christ', 'Rattlesnake',
       'The Players', 'We Are One', 'Finding Agnes', 'IO', 'Sentinelle',
       'Sol Levante', 'The Binding', 'We Can Be Heroes',
       'Christmas Crossfire', 'Coin Heist', 'Mrs. Serial Killer',
       'Nobody Sleeps in the Woods Tonight', 'Take the 10',
       'The Main Event', 'The Ridiculous 6', 'Earth and Blood',
       'Fearless', 'Holiday Rush', 'The Day of the Lord', 'Airplane Mode',
       'How It Ends', 'Love Like the Falling Rain', 'Rebirth',
       'Squared Love', 'Cadaver', 'Clinical', 'Coffee & Kareem', 'Dude',
       'Geez & Ann', 'The Larva Island Movie', '#REALITYHIGH',
       'American Factory: A Conversation with the Obamas ', 'Desperados',
       "Dolly Parton's Christmas on the Square", 'Father of the Year',
       'Firebrand', 'Ghost Lab', "Girlfriend's Day",
       'Handsome: A Netflix Mystery Movie', 'Hubie Halloween', 'Ibiza',
       'Rim of the World', 'Sandy Wexler', 'See You Yesterday',
       'Still Laugh-In: The Stars Celebrate', 'Strip Down, Rise Up',
       'Tall Girl', 'The Beast', 'The Week Of',
       'A Christmas Prince: The Royal Wedding', 'Back to School',
       'Dangerous Lies', 'Gunjan Saxena: The Kargil Girl', 'Intuition',
       'The Most Assassinated Woman in the World', 'Things Heard & Seen',
       'To Each, Her Own', 'Who Would You Take to a Deserted Island?',
       'XOXO', "A Babysitter's Guide to Monster Hunting",
       'A Christmas Prince: The Royal Baby', 'Despite Everything',
       'Dolly Kitty and Those Twinkling Stars',
       "Freaks: You're One of Us", 'Game Over, Man!', 'Guilty',
       'In the Tall Grass', 'Madame Claude', 'Naked', 'Outside the Wire',
       'The Princess Switch: Switched Again', 'Under the Riccione Sun',
       'A Very Murray Christmas', 'Been So Long', 'Dead Kids',
       'Get the Grift', 'Ghosts of Sugar Land', 'House Arrest',
       "Kevin Hart's Guide to Black History", 'Love Wedding Repeat',
       'Mute', 'Òlòt?ré', 'Red Dot', 'Ride or Die', 'Step Sisters',
       'The Cloverfield Paradox', 'The Knight Before Christmas',
       'The Legacy of a Whitetail Deer Hunter', 'The Package',
       'Unicorn Store', 'Wine Country', 'Bomb Scared', 'Brahman Naman',
       'Double Dad', 'Falling Inn Love', 'Hold the Dark',
       'Love, Guaranteed', 'One-Way to Tomorrow',
       "Sarah Cooper: Everything's Fine", 'The Last Laugh',
       'The Last Paradiso', 'The Midnight Sky', 'The Paramedic',
       'The Sleepover', 'Vampires vs. the Bronx', 'Why Did You Kill Me?',
       'A Week Away', 'Caught by a Wave', 'Christmas Inheritance',
       'Dad Wanted', 'El Camino Christmas', 'Eli', 'Ginny Weds Sunny',
       'Good Sam', 'Lionheart', 'Little Evil', 'One Take',
       'Out of Many, One', 'Point Blank', 'Prime Time', 'The Do-Over',
       'The Holiday Calendar', 'The Woman in the Window',
       'The Wrong Missy', 'Velvet Buzzsaw', 'Yes Day', '15 August',
       'A California Christmas', 'A Christmas Prince',
       'All Day and a Night', 'American Son', 'Barry', 'Candy Jar',
       'Choked: Paisa Bolta Hai', "Class of '83", 'Extinction',
       'Happy Anniversary', 'I Am All Girls', 'Let It Snow', 'Mascots',
       'Operation Christmas Drop', 'Rajma Chawal', 'Rich in Love',
       'Rising High', 'Rodney King', 'Sierra Burgess Is a Loser',
       'Small Crimes', 'Special Correspondents', 'TAU', 'The After Party',
       'The Babysitter: Killer Queen', 'The Claus Family',
       'The Kissing Booth 2', 'The Perfect Date', 'What We Wanted',
       "You've Got This", '6 Balloons', 'A Fall from Grace', 'Amateur',
       'Army of the Dead', 'Cam', 'Earthquake Bird',
       "Frankenstein's Monster's Monster, Frankenstein", 'Horse Girl',
       'Notes from Dunblane: Lesson from a School Shooting', 'Maska',
       'The Decline', 'The Minimalists: Less Is Now', 'The Polka King',
       'The Prom', 'True Memoirs of an International Assassin', 'Ultras',
       'Come Sunday', 'Forgive Us Our Debts', 'iBoy', 'Lovefucked',
       'Juanita', 'Murder Mystery', 'Project Power', 'Rebecca',
       'The Christmas Chronicles: Part Two', 'The Kissing Booth',
       'The Princess Switch', 'To All the Boys: P.S. I Still Love You',
       'War Machine', '6 Underground', 'Between Two Ferns: The Movie',
       'Burning Sands', 'Casting JonBenet', 'Deidra & Laney Rob a Train',
       "Finding 'Ohana", 'Holidate', 'Holiday in the Wild',
       'Hot Girls Wanted', 'Like Father', 'Lost Girls', 'Otherhood',
       "Pee-wee's Big Holiday", 'Rogue City', 'Sergio', 'Stuck Apart',
       'Tersanjung the Movie', 'The Killer', 'The Lovebirds',
       'The Most Hated Woman in America', 'The Perfection',
       'Tribhanga – Tedhi Medhi Crazy', 'Unknown Origins', 'Work It',
       'Alien Xmas', 'Baggio: The Divine Ponytail', 'Below Zero',
       'Citation', 'Crazy Awesome Teachers',
       'Have You Ever Seen Fireflies?', 'High Flying Bird',
       'In the Shadow of the Moon', 'Lost Bullet',
       'Octonauts & the Caves of Sac Actun', 'Offering to the Storm',
       'Roxanne Roxanne', 'Someone Great', 'Spenser Confidential',
       'The Land of Steady Habits', 'The Rachel Divide', 'Voyuer ',
       'Win It All', '1922', 'A Tale of Two Kitchens', 'Alex Strangelove',
       'Apostle', 'Benji', 'Bright', 'Cargo', 'Concrete Cowboy',
       'Feel the Beat', 'Get the Goat', 'I Am Not an Easy Man',
       'June & Kopi', 'Music Teacher', 'Nail Bomber: Manhunt',
       'Notes for My Son', 'Polar', 'Porta dos Fundos: The Last Hangover',
       'Sand Castle', 'Shimmer Lake', 'Spectral', 'The Babysitter',
       'The Discovery', 'The Forest of Love', 'The Laundromat',
       'The Legend of Cocaine Island', 'The Outsider', 'Time to Hunt',
       'To All the Boys: Always and Forever',
       'Travis Scott: Look Mom I Can Fly', 'Uncorked',
       'Anelka: Misunderstood', 'Ariana Grande: Excuse Me, I Love You',
       'ARQ', 'Birders', 'Como Caído del Cielo', 'First Match',
       'Fractured', 'Irreplaceable You', 'Isi & Ossi',
       'John Was Trying to Contact Aliens', 'Layla Majnun',
       'Murder to Mercy: The Cyntoia Brown Story', 'My Own Man',
       'Nappily Ever After', 'Over the Moon', 'Street Flow',
       'Strong Island', 'Sturgill Simpson Presents: Sound & Fury',
       'Take Your Pills', 'The Heartbreak Club', 'The Mars Generation',
       'The Occupant', 'The Willoughbys', 'Triple Frontier',
       'Two Catalonias', 'Walk. Ride. Rodeo.', 'Wheelman',
       'When We First Met', 'A 3 Minute Hug', 'All the Bright Places',
       'All Together Now', 'Altered Carbon: Resleeved',
       'Antoine Griezmann: The Making of a Legend', 'Canvas ',
       'Chadwick Boseman: Portrait of an Artist', 'Chopsticks',
       'Da 5 Bloods', 'Dolly Parton: A MusiCares Tribute',
       'Eurovision Song Contest: The Story of Fire Saga', "Gerald's Game",
       'His House', 'Jingle Jangle: A Christmas Journey',
       'Life Overtakes Me', 'Lust Stories', 'Monster',
       'Mowgli: Legend of the Jungle', "Nobody Knows I'm Here",
       'Nobody Speak: Trials of the Free Press', 'Oxygen', 'Set It Up',
       'The Incredible Jessica James', 'Tigertail', 'Tramps',
       'What Did Jack Do?', 'Bad Trip', 'Bird Box', 'Bulbbul',
       'Crazy About Her', 'Elisa & Marcela', "I'll Sleep When I'm Dead",
       "I'm Thinking of Ending Things", 'It Takes a Lunatic', 'Milestone',
       'Recovery Boys', 'ReMastered: Who Killed Jam Master Jay?',
       'Shawn Mendes: In Wonder', 'Space Sweepers', 'The American Meme',
       'The Angel', 'The Crimes That Bind', 'The Red Sea Diving Resort',
       'What Would Sophia Loren Do?', 'A Whisker Away', 'Ajeeb Daastaans',
       'Arlo the Alligator Boy', 'Bikram: Yogi, Guru, Predator', 'Blame!',
       'Blue Miracle', 'CounterPunch ',
       'Crack: Cocaine, Corruption & Conspiracy', 'Extraction',
       'Giving Voice', 'Hillbilly Elegy',
       'Hope Frozen: A Quest to Live Twice', 'Imperial Dreams',
       'Just Another Christmas', 'Little Miss Sumo', 'Malcolm & Marie',
       "Michael Bolton's Big, Sexy, Valentine's Day Special", 'Moxie',
       'Night in Paradise', 'Paper Lives', 'Parchis: The Documentary',
       'Tallulah', 'The Old Guard', 'Tony Robbins: I Am Not Your Guru',
       'Upstarts', '22 July', '7 años', 'A Futile and Stupid Gesture',
       'A Life of Speed: The Juan Manuel Fangio Story',
       'A Love Song for Latasha', 'All in My Family',
       'Always Be My Maybe', 'Becoming', 'Long Live Brij Mohan',
       'Calibre', 'Death to 2020', 'GIMS: On the Record',
       'Have a Good Trip: Adventures in Psychedelics', 'Heroin(e) ',
       'Mercury 13', 'Saving Capitalism', 'Serious Men',
       'The Boys in the Band', 'The Boys in the Band: Something Personal',
       'The Life Ahead', 'The Other Side of the Wind', 'The Trader',
       'To the Bone', 'Tony Parker: The Final Shot', 'AK vs AK',
       'Amanda Knox', 'Bigflo & Oil: Hip Hop Frenzy',
       'Biggie: I Got a Story to Tell', 'Cops and Robbers',
       "I Don't Feel at Home in This World Anymore", 'Laerte-se', 'Mank',
       'Our Souls at Night', 'Outlaw King', 'Pagglait',
       'ReMastered: Who Shot the Sheriff?', 'Seeing Allred',
       'Spelling the Dream', 'The Claudia Kishi Club', 'The Half of It',
       'The Highwaymen',
       'The Lonely Island Presents: The Unauthorized Bash Brothers Experience',
       'The Meyerowitz Stories (New and Selected)',
       'Feminists: What Were They Thinking?', 'Gaga: Five Foot Two',
       "I'm No Longer Here: A Discussion with Guillermo del Toro and Alfonso Cuaron",
       'Kingdom of Us', 'Lorena, Light-Footed Woman',
       'Los Tigres del Norte at Folsom Prison',
       "Ma Rainey's Black Bottom",
       "Ma Rainey's Black Bottom: A Legacy Brought to Screen",
       'Operation Varsity Blues: The College Admissions Scandal', 'Pele',
       'ReMastered: Devil at the Crossroads',
       "ReMastered: The Lion's Share",
       'ReMastered: The Miami Showband Massacre', 'Resurface',
       "Rocko's Modern Life: Static Cling", 'Rose Island',
       'The Christmas Chronicles', 'The Dirt', 'The Night Comes for Us',
       '13th: A Conversation with Oprah Winfrey & Ava DuVernay',
       "Angela's Christmas", "Angela's Christmas Wish", 'Beats',
       'Circus of Books', 'Dance Dreams: Hot Chocolate Nutcracker',
       'Derren Brown: Sacrifice', 'El Pepe: A Supreme Life', 'End Game',
       'Evelyn', 'Ferry', 'Grass Is Greener',
       'Guillermo Vilas: Settling the Score',
       'Joshua: Teenager vs. Superpower',
       'Keith Richards: Under the Influence', 'Knock Down the House',
       'Loudon Wainwright III: Surviving Twin',
       'My Beautiful Broken Brain', 'One of Us', 'Pieces of a Woman',
       'Ram Dass, Going Home',
       'ReMastered: Tricky Dick & the Man in Black', 'Rooting for Roona',
       'The Devil All the Time', 'The Dig', 'The Great Hack',
       'The White Tiger', "To All the Boys I've Loved Before",
       'American Murder: The Family Next Door', 'Audrie & Daisy',
       'First They Killed My Father',
       'Fyre: The Greatest Party That Never Happened', 'Into the Inferno',
       'LA Originals', 'Ladies First', 'Love per Square Foot',
       'Paddleton', 'Private Life', 'Seventeen', 'Sometimes', 'Soni',
       'The 40-Year-Old Version', 'The Disciple', 'The Edge of Democracy',
       'The King', 'The Road to El Camino: A Breaking Bad Movie',
       'The Siege of Jadotville', 'Zion ', 'Dolemite Is My Name',
       'El Camino: A Breaking Bad Movie', 'Extremis',
       'Father Soldier Son', 'Get Me Roger Stone', "I'm No Longer Here",
       'Mucho Mucho Amor: The Legend of Walter Mercado ',
       'Octonauts & the Great Barrier Reef', 'Okja', 'On My Skin',
       'Raat Akeli Hai', 'ReMastered: Massacre at the Stadium',
       'ReMastered: The Two Killings of Sam Cooke',
       'Secrets of the Saqqara Tomb', 'Sitara: Let Girls Dream',
       'Sky Ladder: The Art of Cai Guo-Qiang', 'Team Foxcatcher',
       'The Ballad of Buster Scruggs',
       'The Death and Life of Marsha P. Johnson',
       'The Fundamentals of Caring',
       'The Other One: The Long Strange Trip of Bob Weir',
       'American Factory', 'Fire in Paradise', 'Long Shot',
       'Miss Americana', 'Period. End of Sentence.',
       'Shawn Mendes: Live in Concert', 'Shirkers', 'The Black Godfather',
       'The Irishman: In Conversation', 'The Speed Cubers',
       "They'll Love Me When I'm Dead", 'Tig',
       "Barbra: The Music, The Mem'ries, The Magic!",
       'Blackpink: Light Up the Sky', 'City of Joy',
       'Dick Johnson Is Dead', 'Homecoming: A Film by Beyonce ',
       'Invader Zim: Enter the Florpus',
       'Joan Didion: The Center Will Not Hold',
       'John Mulaney & the Sack Lunch Bunch', 'Reversing Roe',
       'The White Helmets', 'Athlete A', 'Ludo', 'Quincy',
       'Rolling Thunder Revue: A bob Dylan Story by Martin Scorsere',
       'Tell Me Who I Am', 'The Bleeding Edge', 'The Social Dilemma',
       'The Two Popes', 'What Happened, Miss Simone?', 'Yeh Ballet',
       'Anima', 'Beasts of No Nation', 'Brene Brown: The Call to Courage',
       'Crip Camp: A Disability Revolution',
       'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Cliffton ',
       'Justin Timberlake + The Tennessee Kids', 'Road to Roma', 'Roma',
       'If Anything Happens I Love You', 'The Irishman',
       'The Trial of the Chicago 7', 'A Secret Love', 'Icarus',
       'Marriage Story', 'The Ivory Game',
       'Struggle: The Life and Lost Art of Szukaiski', 'Chasing Coral ',
       'My Octopus Teacher', 'Rising Phoenix', '13th',
       'Disclosure: Trans Lives on Screen', 'Klaus', 'Seaspiracy',
       'The Three Deaths of Marisela Escobedo', 'Cuba and the Cameraman ',
       'Dancing with the Birds',
       'Ben Platt: Live from Radio City Music Hall',
       'Taylor Swift: Reputation Stadium Tour',
       "Winter on Fire: Ukraine's Fight for Freedom",
       'Springsteen on Broadway',
       "Emicida: AmarElo - It's All For Yesterday",
       'David Attenborough: A Life on Our Planet'], dtype=object)

In [19]:
netflix_df['Genre'].unique()

array(['Documentary', 'Thriller', 'Science fiction/Drama',
       'Horror thriller', 'Mystery', 'Action', 'Comedy',
       'Heist film/Thriller', 'Musical/Western/Fantasy', 'Drama',
       'Romantic comedy', 'Action comedy', 'Horror anthology',
       'Political thriller', 'Superhero-Comedy', 'Horror',
       'Romance drama', 'Anime / Short', 'Superhero', 'Heist', 'Western',
       'Animation/Superhero', 'Family film', 'Action-thriller',
       'Teen comedy-drama', 'Romantic drama', 'Animation',
       'Aftershow / Interview', 'Christmas musical',
       'Science fiction adventure', 'Science fiction', 'Variety show',
       'Comedy-drama', 'Comedy/Fantasy/Family', 'Supernatural drama',
       'Action/Comedy', 'Action/Science fiction',
       'Romantic teenage drama', 'Comedy / Musical', 'Musical',
       'Science fiction/Mystery', 'Crime drama',
       'Psychological thriller drama', 'Adventure/Comedy', 'Black comedy',
       'Romance', 'Horror comedy', 'Christian musical',
       'Romantic teen drama', 'Family', 'Dark comedy', 'Comedy horror',
       'Psychological thriller', 'Biopic', 'Science fiction/Thriller',
       'Mockumentary', 'Satire', 'One-man show', 'Romantic comedy-drama',
       'Comedy/Horror', 'Fantasy', 'Sports-drama', 'Zombie/Heist',
       'Psychological horror', 'Sports film', 'Comedy mystery',
       'Romantic thriller', 'Christmas comedy', 'War-Comedy',
       'Romantic comedy/Holiday', 'Adventure-romance', 'Adventure',
       'Horror-thriller', 'Dance comedy', 'Stop Motion',
       'Horror/Crime drama', 'Urban fantasy', 'Drama/Horror',
       'Family/Comedy-drama', 'War', 'Crime thriller',
       'Science fiction/Action', 'Teen comedy horror', 'Concert Film',
       'Musical comedy', 'Animation/Musical/Adventure',
       'Animation / Musicial', 'Animation/Comedy/Adventure',
       'Action thriller', 'Anime/Science fiction', 'Animation / Short',
       'War drama', 'Family/Christmas musical',
       'Science fiction thriller', 'Drama / Short',
       'Hidden-camera prank comedy', 'Spy thriller', 'Anime/Fantasy',
       'Animated musical comedy', 'Variety Show', 'Superhero/Action',
       'Biographical/Comedy', 'Historical-epic', 'Animation / Comedy',
       'Christmas/Fantasy/Adventure/Comedy', 'Mentalism special',
       'Drama-Comedy', 'Coming-of-age comedy-drama', 'Historical drama',
       'Making-of', 'Action-adventure', 'Animation / Science Fiction',
       'Anthology/Dark comedy', 'Musical / Short',
       'Animation/Christmas/Comedy/Adventure'], dtype=object)

For the *Genre* column, we can see that some multi-genre values are inconsistent with each other. Some have spaces before and after the "/" while others do not. This might cause difficulty later on in finding values so we want to change this to be having no space at all. <br> <br>
The following code will do that:

In [20]:
netflix_df["Genre"] = netflix_df["Genre"].str.replace(" / ","/")
netflix_df["Genre"].unique()

array(['Documentary', 'Thriller', 'Science fiction/Drama',
       'Horror thriller', 'Mystery', 'Action', 'Comedy',
       'Heist film/Thriller', 'Musical/Western/Fantasy', 'Drama',
       'Romantic comedy', 'Action comedy', 'Horror anthology',
       'Political thriller', 'Superhero-Comedy', 'Horror',
       'Romance drama', 'Anime/Short', 'Superhero', 'Heist', 'Western',
       'Animation/Superhero', 'Family film', 'Action-thriller',
       'Teen comedy-drama', 'Romantic drama', 'Animation',
       'Aftershow/Interview', 'Christmas musical',
       'Science fiction adventure', 'Science fiction', 'Variety show',
       'Comedy-drama', 'Comedy/Fantasy/Family', 'Supernatural drama',
       'Action/Comedy', 'Action/Science fiction',
       'Romantic teenage drama', 'Comedy/Musical', 'Musical',
       'Science fiction/Mystery', 'Crime drama',
       'Psychological thriller drama', 'Adventure/Comedy', 'Black comedy',
       'Romance', 'Horror comedy', 'Christian musical',
       'Romantic teen drama', 'Family', 'Dark comedy', 'Comedy horror',
       'Psychological thriller', 'Biopic', 'Science fiction/Thriller',
       'Mockumentary', 'Satire', 'One-man show', 'Romantic comedy-drama',
       'Comedy/Horror', 'Fantasy', 'Sports-drama', 'Zombie/Heist',
       'Psychological horror', 'Sports film', 'Comedy mystery',
       'Romantic thriller', 'Christmas comedy', 'War-Comedy',
       'Romantic comedy/Holiday', 'Adventure-romance', 'Adventure',
       'Horror-thriller', 'Dance comedy', 'Stop Motion',
       'Horror/Crime drama', 'Urban fantasy', 'Drama/Horror',
       'Family/Comedy-drama', 'War', 'Crime thriller',
       'Science fiction/Action', 'Teen comedy horror', 'Concert Film',
       'Musical comedy', 'Animation/Musical/Adventure',
       'Animation/Musicial', 'Animation/Comedy/Adventure',
       'Action thriller', 'Anime/Science fiction', 'Animation/Short',
       'War drama', 'Family/Christmas musical',
       'Science fiction thriller', 'Drama/Short',
       'Hidden-camera prank comedy', 'Spy thriller', 'Anime/Fantasy',
       'Animated musical comedy', 'Variety Show', 'Superhero/Action',
       'Biographical/Comedy', 'Historical-epic', 'Animation/Comedy',
       'Christmas/Fantasy/Adventure/Comedy', 'Mentalism special',
       'Drama-Comedy', 'Coming-of-age comedy-drama', 'Historical drama',
       'Making-of', 'Action-adventure', 'Animation/Science Fiction',
       'Anthology/Dark comedy', 'Musical/Short',
       'Animation/Christmas/Comedy/Adventure'], dtype=object)

Now everything is consistent.

In [21]:
netflix_df["Premiere"].unique()

array(['2019-08-05T00:00:00.000000000', '2020-08-21T00:00:00.000000000',
       '2019-12-26T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2020-10-30T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2020-12-04T00:00:00.000000000', '2020-06-05T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2021-05-18T00:00:00.000000000',
       '2021-04-22T00:00:00.000000000', '2020-11-27T00:00:00.000000000',
       '2020-09-18T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2016-11-22T00:00:00.000000000', '2019-12-19T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2020-02-21T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2017-08-25T00:00:00.000000000',
       '2019-09-13T00:00:00.000000000', '2019-07-18T00:00:00.000000000',
       '2019-08-16T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2021-04-09T00:00:00.000000000', '2020-07-16T00:00:00.000000000',
       '2021-04-02T00:00:00.000000000', '2020-07-31T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000', '2018-12-07T00:00:00.000000000',
       '2019-05-24T00:00:00.000000000', '2016-10-28T00:00:00.000000000',
       '2019-02-22T00:00:00.000000000', '2019-12-03T00:00:00.000000000',
       '2019-10-25T00:00:00.000000000', '2020-07-15T00:00:00.000000000',
       '2020-07-14T00:00:00.000000000', '2020-11-30T00:00:00.000000000',
       '2019-01-18T00:00:00.000000000', '2021-03-05T00:00:00.000000000',
       '2020-04-02T00:00:00.000000000', '2020-10-02T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2017-01-06T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-10-28T00:00:00.000000000',
       '2017-01-20T00:00:00.000000000', '2020-04-10T00:00:00.000000000',
       '2015-12-11T00:00:00.000000000', '2020-04-17T00:00:00.000000000',
       '2020-08-14T00:00:00.000000000', '2019-11-28T00:00:00.000000000',
       '2020-01-23T00:00:00.000000000', '2018-07-13T00:00:00.000000000',
       '2020-10-15T00:00:00.000000000', '2016-07-15T00:00:00.000000000',
       '2021-02-11T00:00:00.000000000', '2020-10-22T00:00:00.000000000',
       '2017-01-13T00:00:00.000000000', '2020-04-03T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2020-07-23T00:00:00.000000000', '2017-09-08T00:00:00.000000000',
       '2019-08-21T00:00:00.000000000', '2020-07-03T00:00:00.000000000',
       '2020-11-22T00:00:00.000000000', '2018-07-20T00:00:00.000000000',
       '2021-05-26T00:00:00.000000000', '2017-02-14T00:00:00.000000000',
       '2017-05-05T00:00:00.000000000', '2020-10-07T00:00:00.000000000',
       '2018-05-25T00:00:00.000000000', '2017-04-14T00:00:00.000000000',
       '2019-05-17T00:00:00.000000000', '2019-05-14T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2018-04-27T00:00:00.000000000',
       '2018-11-30T00:00:00.000000000', '2019-08-30T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-08-12T00:00:00.000000000',
       '2020-05-28T00:00:00.000000000', '2018-09-07T00:00:00.000000000',
       '2021-04-29T00:00:00.000000000', '2018-06-24T00:00:00.000000000',
       '2019-04-12T00:00:00.000000000', '2016-08-26T00:00:00.000000000',
       '2019-12-05T00:00:00.000000000', '2019-05-03T00:00:00.000000000',
       '2020-09-02T00:00:00.000000000', '2020-03-06T00:00:00.000000000',
       '2019-10-04T00:00:00.000000000', '2017-08-11T00:00:00.000000000',
       '2021-01-15T00:00:00.000000000', '2020-11-19T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2015-12-04T00:00:00.000000000',
       '2018-10-26T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2021-04-28T00:00:00.000000000', '2019-10-16T00:00:00.000000000',
       '2019-11-15T00:00:00.000000000', '2019-02-08T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2021-04-15T00:00:00.000000000',
       '2018-02-04T00:00:00.000000000', '2019-11-21T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2019-04-05T00:00:00.000000000', '2019-05-10T00:00:00.000000000',
       '2017-10-12T00:00:00.000000000', '2016-07-07T00:00:00.000000000',
       '2019-08-29T00:00:00.000000000', '2018-09-28T00:00:00.000000000',
       '2020-09-03T00:00:00.000000000', '2020-06-19T00:00:00.000000000',
       '2020-10-27T00:00:00.000000000', '2019-01-11T00:00:00.000000000',
       '2020-12-23T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2021-04-14T00:00:00.000000000', '2021-03-26T00:00:00.000000000',
       '2021-03-25T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2020-09-11T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2019-10-18T00:00:00.000000000', '2020-10-09T00:00:00.000000000',
       '2019-05-16T00:00:00.000000000', '2019-01-04T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2020-06-18T00:00:00.000000000',
       '2018-12-12T00:00:00.000000000', '2019-07-12T00:00:00.000000000',
       '2016-05-27T00:00:00.000000000', '2018-11-02T00:00:00.000000000',
       '2021-05-14T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2021-03-12T00:00:00.000000000',
       '2019-03-29T00:00:00.000000000', '2020-12-14T00:00:00.000000000',
       '2017-11-17T00:00:00.000000000', '2016-12-16T00:00:00.000000000',
       '2018-07-27T00:00:00.000000000', '2018-03-30T00:00:00.000000000',
       '2019-11-08T00:00:00.000000000', '2016-10-13T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2017-04-28T00:00:00.000000000',
       '2016-04-29T00:00:00.000000000', '2018-06-29T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2020-09-10T00:00:00.000000000',
       '2020-12-07T00:00:00.000000000', '2020-07-24T00:00:00.000000000',
       '2020-11-11T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2020-01-17T00:00:00.000000000', '2021-05-21T00:00:00.000000000',
       '2018-11-16T00:00:00.000000000', '2019-07-16T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2018-01-12T00:00:00.000000000', '2020-12-11T00:00:00.000000000',
       '2016-11-11T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2018-04-13T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2017-01-27T00:00:00.000000000', '2019-08-09T00:00:00.000000000',
       '2019-03-08T00:00:00.000000000', '2019-06-14T00:00:00.000000000',
       '2020-10-21T00:00:00.000000000', '2020-11-25T00:00:00.000000000',
       '2018-05-11T00:00:00.000000000', '2020-02-12T00:00:00.000000000',
       '2017-05-26T00:00:00.000000000', '2019-12-13T00:00:00.000000000',
       '2019-09-20T00:00:00.000000000', '2017-03-10T00:00:00.000000000',
       '2017-03-17T00:00:00.000000000', '2021-01-29T00:00:00.000000000',
       '2015-05-29T00:00:00.000000000', '2018-08-03T00:00:00.000000000',
       '2020-03-13T00:00:00.000000000', '2019-08-02T00:00:00.000000000',
       '2016-03-18T00:00:00.000000000', '2021-01-08T00:00:00.000000000',
       '2021-04-01T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
       '2020-05-22T00:00:00.000000000', '2017-03-24T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2020-08-07T00:00:00.000000000',
       '2020-11-20T00:00:00.000000000', '2020-11-06T00:00:00.000000000',
       '2020-08-17T00:00:00.000000000', '2019-09-27T00:00:00.000000000',
       '2019-04-19T00:00:00.000000000', '2018-09-14T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-04-07T00:00:00.000000000',
       '2017-10-20T00:00:00.000000000', '2019-05-22T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-10-12T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2018-05-18T00:00:00.000000000', '2021-03-18T00:00:00.000000000',
       '2021-01-28T00:00:00.000000000', '2020-11-24T00:00:00.000000000',
       '2019-01-25T00:00:00.000000000', '2018-12-21T00:00:00.000000000',
       '2017-04-21T00:00:00.000000000', '2017-06-09T00:00:00.000000000',
       '2016-12-09T00:00:00.000000000', '2017-10-13T00:00:00.000000000',
       '2017-03-31T00:00:00.000000000', '2019-10-11T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2019-08-28T00:00:00.000000000',
       '2020-08-05T00:00:00.000000000', '2020-12-21T00:00:00.000000000',
       '2016-09-16T00:00:00.000000000', '2019-09-25T00:00:00.000000000',
       '2019-12-24T00:00:00.000000000', '2018-02-16T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2020-04-29T00:00:00.000000000', '2014-12-13T00:00:00.000000000',
       '2018-09-21T00:00:00.000000000', '2020-10-23T00:00:00.000000000',
       '2019-10-12T00:00:00.000000000', '2017-09-15T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-04-22T00:00:00.000000000', '2019-03-13T00:00:00.000000000',
       '2018-02-09T00:00:00.000000000', '2019-10-28T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2019-03-21T00:00:00.000000000', '2021-04-17T00:00:00.000000000',
       '2019-05-31T00:00:00.000000000', '2020-06-12T00:00:00.000000000',
       '2021-04-07T00:00:00.000000000', '2020-06-26T00:00:00.000000000',
       '2017-09-29T00:00:00.000000000', '2020-11-13T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000', '2021-05-07T00:00:00.000000000',
       '2020-06-24T00:00:00.000000000', '2017-06-23T00:00:00.000000000',
       '2021-05-12T00:00:00.000000000', '2017-07-28T00:00:00.000000000',
       '2020-01-20T00:00:00.000000000', '2019-06-07T00:00:00.000000000',
       '2016-08-19T00:00:00.000000000', '2020-09-04T00:00:00.000000000',
       '2020-11-23T00:00:00.000000000', '2019-07-31T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2019-11-20T00:00:00.000000000',
       '2017-05-20T00:00:00.000000000', '2021-05-27T00:00:00.000000000',
       '2017-06-16T00:00:00.000000000', '2021-01-11T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2020-09-15T00:00:00.000000000',
       '2017-02-03T00:00:00.000000000', '2020-12-03T00:00:00.000000000',
       '2017-02-07T00:00:00.000000000', '2021-03-03T00:00:00.000000000',
       '2019-07-10T00:00:00.000000000', '2016-07-29T00:00:00.000000000',
       '2020-07-10T00:00:00.000000000', '2018-10-10T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2020-09-21T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-09-17T00:00:00.000000000', '2020-05-11T00:00:00.000000000',
       '2017-09-12T00:00:00.000000000', '2017-11-21T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2017-07-14T00:00:00.000000000',
       '2021-01-06T00:00:00.000000000', '2020-12-24T00:00:00.000000000',
       '2016-09-30T00:00:00.000000000', '2020-10-08T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2017-02-24T00:00:00.000000000', '2017-05-19T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2020-06-03T00:00:00.000000000',
       '2019-05-23T00:00:00.000000000', '2017-09-22T00:00:00.000000000',
       '2020-11-03T00:00:00.000000000', '2019-09-15T00:00:00.000000000',
       '2020-12-18T00:00:00.000000000', '2021-03-17T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2019-04-26T00:00:00.000000000',
       '2019-03-22T00:00:00.000000000', '2020-12-09T00:00:00.000000000',
       '2018-11-22T00:00:00.000000000', '2018-10-19T00:00:00.000000000',
       '2017-01-26T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2019-06-19T00:00:00.000000000', '2019-12-27T00:00:00.000000000',
       '2019-09-10T00:00:00.000000000', '2019-04-20T00:00:00.000000000',
       '2015-09-18T00:00:00.000000000', '2019-05-01T00:00:00.000000000',
       '2018-11-13T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
       '2019-07-24T00:00:00.000000000', '2021-01-22T00:00:00.000000000',
       '2018-08-17T00:00:00.000000000', '2016-09-23T00:00:00.000000000',
       '2018-03-08T00:00:00.000000000', '2018-02-14T00:00:00.000000000',
       '2018-10-05T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2019-10-29T00:00:00.000000000',
       '2016-10-07T00:00:00.000000000', '2016-09-13T00:00:00.000000000',
       '2020-07-17T00:00:00.000000000', '2017-05-12T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000', '2020-07-08T00:00:00.000000000',
       '2020-10-13T00:00:00.000000000', '2017-06-28T00:00:00.000000000',
       '2018-09-12T00:00:00.000000000', '2020-03-08T00:00:00.000000000',
       '2016-10-14T00:00:00.000000000', '2017-10-06T00:00:00.000000000',
       '2016-06-24T00:00:00.000000000', '2015-05-22T00:00:00.000000000',
       '2020-01-31T00:00:00.000000000', '2019-02-12T00:00:00.000000000',
       '2019-11-27T00:00:00.000000000', '2020-07-29T00:00:00.000000000',
       '2015-07-17T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2020-10-14T00:00:00.000000000', '2019-04-17T00:00:00.000000000',
       '2017-10-27T00:00:00.000000000', '2018-09-13T00:00:00.000000000',
       '2020-11-12T00:00:00.000000000', '2019-06-12T00:00:00.000000000',
       '2020-09-09T00:00:00.000000000', '2019-12-20T00:00:00.000000000',
       '2015-06-26T00:00:00.000000000', '2019-06-27T00:00:00.000000000',
       '2015-10-16T00:00:00.000000000', '2016-10-12T00:00:00.000000000',
       '2020-02-11T00:00:00.000000000', '2018-12-14T00:00:00.000000000',
       '2020-10-16T00:00:00.000000000', '2017-08-04T00:00:00.000000000',
       '2019-12-06T00:00:00.000000000', '2016-11-04T00:00:00.000000000',
       '2020-09-07T00:00:00.000000000', '2020-08-26T00:00:00.000000000',
       '2021-03-24T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2019-10-23T00:00:00.000000000', '2020-05-20T00:00:00.000000000',
       '2018-12-31T00:00:00.000000000', '2015-10-09T00:00:00.000000000',
       '2018-12-16T00:00:00.000000000', '2020-12-08T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000'], dtype='datetime64[ns]')

In [22]:
netflix_df["Runtime"].unique()

array([ 58,  81,  79,  94,  90, 147, 112, 149,  73, 139,  97, 101,  25,
       144, 115, 102, 100,  64,  99, 120, 105,  89, 107,  95,  37,  83,
        46,  85,  88,  86,  80,   4,  93, 106, 103, 119,  96, 113, 104,
        10,  98, 117,  70, 131,  87,  60, 116,  92, 121,  78, 114,  56,
        21,  63, 126, 142, 108, 125,  91,  49, 118,  34, 124,  52, 111,
        75, 148,  32,  23,  53, 132, 123, 122, 128,  82,  84,  42, 151,
        72,  30, 129,  44, 134, 109,  16,  41,  28,  74,   9, 155,  55,
        40,  17, 136, 130,  19,  54,  76,  39,   7,  57,  14,  31,  48,
        27,  45,  36,  47, 110, 138, 133, 140,  13,  11,  24,  15,  26,
       137,  71, 135,  12, 209,  51, 153])

In [23]:
netflix_df["IMDB Score"].unique()

array([2.5, 2.6, 3.2, 3.4, 3.5, 3.7, 3.9, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6,
       4.7, 4.8, 4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9,
       6. , 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7. , 7.1, 7.2,
       7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9, 8. , 8.1, 8.2, 8.3, 8.4, 8.5,
       8.6, 9. ])

In [24]:
netflix_df["Language"].unique()

array(['English/Japanese', 'Spanish', 'Italian', 'English', 'Hindi',
       'Turkish', 'Korean', 'Indonesian', 'Malay', 'Dutch', 'French',
       'English/Spanish', 'Portuguese', 'Filipino', 'German', 'Polish',
       'Norwegian', 'Marathi', 'Thai', 'Swedish', 'Japanese',
       'Spanish/Basque', 'Spanish/Catalan', 'English/Swedish',
       'English/Taiwanese/Mandarin', 'Thia/English', 'English/Mandarin',
       'Georgian', 'Bengali', 'Khmer/English/French', 'English/Hindi',
       'Tamil', 'Spanish/English', 'English/Korean', 'English/Arabic',
       'English/Russian', 'English/Akan', 'English/Ukranian/Russian'],
      dtype=object)

From the following code, only the *genre* column had issues then was fixed. The rest of the data in other columns were consistent with each other.

## Exploratory Data Analysis

In [53]:
netflix_df.describe()

          Runtime  IMDB Score  LanguageValue  GenreValue
count  584.000000  584.000000     584.000000  584.000000
mean    93.577055    6.271747       4.938356   21.457192
std     27.761683    0.979256       5.588794   29.044915
min      4.000000    2.500000       0.000000    0.000000
25%     86.000000    5.700000       3.000000    0.000000
50%     97.000000    6.350000       3.000000    9.000000
75%    108.000000    7.000000       3.000000   32.000000
max    209.000000    9.000000      37.000000  114.000000

#### Question 1:  Does Language and Genre have an effect on the IMDB score and the Runtime length?

In [54]:
# converting language category to numerical values
netflix_df['LanguageValue'] = pd.factorize(netflix_df.Language)[0]

In [55]:
netflix_df.Language.value_counts()

English                       401
Hindi                          33
Spanish                        31
French                         20
Italian                        14
Portuguese                     12
Indonesian                      9
Japanese                        6
Korean                          6
German                          5
Turkish                         5
English/Spanish                 5
Polish                          3
Dutch                           3
Marathi                         3
English/Japanese                2
English/Mandarin                2
English/Hindi                   2
Thai                            2
Filipino                        2
Thia/English                    1
English/Taiwanese/Mandarin      1
Swedish                         1
Spanish/English                 1
Spanish/Basque                  1
Spanish/Catalan                 1
Malay                           1
Georgian                        1
English/Swedish                 1
Tamil                           1
Norwegian                       1
English/Ukranian/Russian        1
English/Akan                    1
English/Arabic                  1
Bengali                         1
English/Korean                  1
Khmer/English/French            1
English/Russian                 1
Name: Language, dtype: int64

In [56]:
netflix_df.LanguageValue.value_counts()

3     401
4      33
1      31
10     20
2      14
12     12
7       9
20      6
6       6
14      5
5       5
11      5
15      3
9       3
17      3
30      2
18      2
26      2
0       2
13      2
35      1
28      1
34      1
33      1
32      1
31      1
36      1
29      1
19      1
27      1
25      1
24      1
23      1
22      1
21      1
16      1
8       1
37      1
Name: LanguageValue, dtype: int64

In [57]:
# converting genre category to numerical values
netflix_df['GenreValue'] = pd.factorize(netflix_df.Genre)[0]

In [58]:
netflix_df.Genre.value_counts()

Documentary               159
Drama                      77
Comedy                     49
Romantic comedy            39
Thriller                   33
                         ...
Horror anthology            1
Variety Show                1
Animation/Comedy            1
Science fiction/Action      1
Family/Comedy-drama         1
Name: Genre, Length: 115, dtype: int64

In [59]:
netflix_df.GenreValue.value_counts()

0      159
9       77
6       49
10      39
1       33
      ...
58       1
7        1
8        1
12       1
114      1
Name: GenreValue, Length: 115, dtype: int64

In [60]:
netflix_df.corr()

                Runtime  IMDB Score  LanguageValue  GenreValue
Runtime        1.000000   -0.040896      -0.037447    0.042249
IMDB Score    -0.040896    1.000000       0.052679    0.109471
LanguageValue -0.037447    0.052679       1.000000   -0.055059
GenreValue     0.042249    0.109471      -0.055059    1.000000